@using _01_One_To_Many.Models
@model Protein
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Info about @Model.Name</h1>
    <p>Protein Id: @Model.ProteinId</p>
    <p>Description: @Model.Description</p>
    <h4>Tacos with @Model.Name in it</h4>
    <ul>
        @foreach(Taco taco in Model.Tacos)
        {
            <li>@taco.Cheese and @taco.Protein.Name on a @taco.Tortilla tortilla with @taco.Toppings toppings</li>
        }
    </ul>

    <span>Submitted on: @Model.CreatedAt</span>
</body>
</html>